name: Buscaminas CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Compilar i Executar Tests
      run: mvn -B test --file pom.xml
      
    - name: Generar Informe de Cobertura (JaCoCo)
      run: mvn jacoco:report
      
    - name: Verificar Qualitat (Opcional)
      run: echo "Tests passats i cobertura generada!"